<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">

        <title>Melinda Malmgren | {{ title }}</title>

        <link rel="stylesheet" href="{{ rootPath }}assets/css/main.css?v=0.00003">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ rootPath }}assets/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ rootPath }}assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ rootPath }}assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="{{ rootPath }}assets/favicon/site.webmanifest">

        <meta name="description" content="{{ metaDescription }}">
        <meta name="revisit-after" content="7 days">
        <meta name="keywords" content="Melinda Malmgren">

        <script type='application/ld+json'> 
        {
            "@context": "http://www.schema.org",
            "@type": "person",
            "name": "Melinda Malmgren",
            "jobTitle": "Principal Engineer",
            "url": "https://melinda.dev",
            "image": "https://karlhaworth.com/assets/Melinda-Malmgren-Headshot@3x.jpg",
            "sameAs": "https://www.linkedin.com/in/melindamalmgren/",
            "worksFor": {
                "@type": "Organization",
                "name": "American Airlines Inc."
            },
            "address": {
                "@type": "PostalAddress",
                "addressLocality": "Phoenix",
                "addressRegion": "Arizona",
                "postalCode": "85016"
            }
        }
        </script>

    </head>
    <body>