<section class="row" id="about">
    <div class="col-md-12">
        <img class="noPrint rounded-circle shadow-lg float-left m-2 aboutImg" data-rjs="3" src="{{ rootPath }}/assets/Melinda-Malmgren-Headshot.jpg" data-holder-rendered="true" alt="Melinda Malmgren"/>
        Melinda Malmgren is from Phoenix, Arizona and first started writing lines of code at 10 years old when she discovered that she could make her own website. Her animated gifs eventually morphed into an interest in Computer Science and she completed numerous programming classes at Glendale Community College during her middle and high school years.

        Melinda later attended the University of Arizona in Tucson, Arizona where she studied Computer Science. During her university studies, she interned with IBM where she was able to put theory into practice in a large scale environment. After graduatuation, Melinda was offered a full time position at IBM in Phoenix where she continued to apply her knowledge to real worl problems.

        <br/>
        In her spare time, she travels frequently and loves to seek out the best view in every place she visits. Her favorites are those at the end of a good hike.
    </div>
    {# <div class="col-md-3 text-center">
        <div class="row pt-4">
            <div class="col-md-12">
                &#109;&#101;&#32;&#40;&#32;&#97;&#116;&#32;&#41;&#32;&#107;&#97;&#114;&#108;&#104;&#97;&#119;&#111;&#114;&#116;&#104;&#46;&#99;&#111;&#109;
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-md-12">
                <a rel="me" href="https://www.linkedin.com/in/melindamalmgren/" target="_blank">
                    <svg class="linkedin_logo" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
                        <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/>
                    </svg>
                </a>
            </div>
            <div class="col-md-12 py-4">
            
            </div>
        </div>
    </div> #}
</section>