<section class="row">
    <div class="col-md-2">
        <h5>Education</h5>
    </div>
    <div class="col-md-7">
        <div itemscope itemtype="http://schema.org/EducationalOrganization">
            <strong itemprop="name"><span class="icon-university-arizona px-2 d-print-none"></span><a itemprop="url" href="http://www.arizona.edu/" target="_blank" title="University of Arizona">University of Arizona</a></strong>; <span itemprop="addressLocality" class="ml-1">Tucson</span>, <span itemprop="addressRegion">Arizona</span><br/>
            Bachelor of Science<br/>
            Major: Computer Science<br/>
        </div>
    </div>
    <div class="col-md-3 text-right">
        <span class="badge badge-secondary">May 2007</span>
    </div>
</section>